{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Joejoseph</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity=
    "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
             <div class="col-md-3">
                <div class="card card-body h-100 border-info"  id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/Profile.jpg' %}">
                    <h4> Hello! I'm JosephKimani</h4>
                    <p>I love coding, doing Research and Teaming up</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My first Job as a Developer</h4>
                    <br>
                    <p>3 months after writing my first hello world program wayback in 2016(while finishing my diploma @ jkuat univercity kenya)
                    i managed to convince my uncle to let me build him a real estate management system of which he did not have and solely depended on face to face and posters
                    to advertice his properties</p>
                    <p>before i knew it we were running his real estate company using my system. my newbie self was now in charge of hosting hundreds of properties and supporting hundreds of client</p>
                    <p>from this you'll see that i'm someone that jumps at any opportunity</p>
                    <!--
                    <ul class="social-links">
                    <li><img class"social" src="{% static 'images/facebook.png' %}"></li>
                    <li><img class"social" src="{% static 'images/linkedin.png' %}"></li>
                    <li><img class"social" src="{% static 'images/github.png' %}"></li>
                    <li><img class"social" src="{% static 'images/twitter.png' %}"></li>
                    -->
                 </div> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>How i learn</h4>
                    <br>
                    <p>Reverse Engineer and bulding ugly prototypes First</p>
                    <br>
                    <p>I can learn just about anything by having a final product to tear apart piece by piece i break the code where 
                    i need to inorder to know why things are that way.documentation is just a reference </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My Short Term Goals</h4>
                    <br>
                    <p>After almost 2 yeras of supporting both my uncles system and pro-essay i'm ready ti learn something new i'll collaborate and sharing my experience with others  </p>
                    <p>Aside from bulding small projects i would love to enter a position where i can be part of a bigger team and learn from others with more experience than myself</p>
                </div>
            </div> 
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 ">
                    <h4>My Experience as a Developer</h4>
                    <br>
                    <p>Full stack developer at pro-essay company</p>
                    <br>
                    <p>Designed,Bult and manage pro-essay online system as a sole developer</p>
                    <p>System supports thousand of customer </p>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <div class="card card-body h-100 ">
                    <h4>What i know</h4>
                    <br>
                    <p>Phython,Django,HTML/CSS,Javascript,React<P>
                    <br>
                    <p>Working on django,node js</p>
                </div>  
            </div> 
        </div>
        <br>
    </div>

</body>
</html>
